
.banner{
    display: flex;
    justify-content: center;
    height: 35vh;
    width: 100%;
    color: white;
    background-image: url("../img/fundo.jpg");
}

.banner-h5{
    color: white;
    font-size: 5.5em;
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner-h2{
    font-size: 2.5em;
    color: white;
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 5vh;
    width: 100%;
}

.textoSobreEquipe{
    font-size: 2.0em;
    color: orange;
}

.banner2{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    background-image: url("../img/fundo.jpg");
    text-align: center;
    color: orange;
}

.texto2 h1{
    color: orange;
}

.texto2 p{
    color: white;
}

.imagens img{
    border-color: orange;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    justify-content: center;
}

.text-robo h1{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
}

.robo img{
    position: absolute;
    top:1260px;left:720px
}

.fotos h1{
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}